/*
    font-family: 'Mukta Mahee', sans-serif;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Allan', cursive;
 */

}
.muktamahee {
  font-family: 'Mukta Mahee', sans-serif;
}

.nunum {
  font-family: 'Nanum Pen Script', cursive;
}

.Roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.allan {
    font-family: 'Allan', cursive;
}

.largetext { font-size: 50px; }
.mediumtext { font-size: 25px; }
.smalltext { font-size: 12px;}
.bluetext { color: blue;}
.alignright { text-align: right;}
.greentext {color: green;}

#maintitle {
  text-decoration: underline;
  color: blue;
  font-family: 'Nanum Pen Script', cursive;
}

a {
  color: red;
  text-decoration: none;
}
a:hover {
text-decoration: underline;
font-size: 40px;
}
a:visited {
 }
